.expandedProjectDiv{
    display: grid;
    justify-content: center;
    /* max-width: fit-content; */
    justify-items: center;
    transition: all 0.8s;
    transition-duration:0.8s;
-webkit-transition-duration:0.8s;
-ms-transition-duration:0.8s;
-moz-transition-duration:0.8s;
    overflow: hidden;
    padding : 2px 20px;
    padding-top: 10px;
}

.expandedProjectDiv > h3{
    text-align: center;
}


.projectsTitle{
    transition: all 0.8s;   
    transition-duration:0.8s;
-webkit-transition-duration:0.8s;
-ms-transition-duration:0.8s;
-moz-transition-duration:0.8s;
    font-size: 16px;
}

.projectULSmall{
    list-style-type: none;
}

.projectDetailsGridSmall{
    display: grid;
    min-width: 85vw;
    grid-template-columns:60% 40%;
    justify-items: start;
}

.projectDescriptionSmall{
    padding : 10px 0px;
    font-size: 16px;
}


.projectsMainDivSmall{
    margin-top: 20px;
    display: grid;
    gap: 10px;
    width: 100vw;
    align-items: baseline;
    grid-template-columns: auto;
}

.expandedTile{
    padding : 0px;
    margin : 10px;
}

.projectHeadingTitleSmall{
    justify-self: center;
    transition: all 0.8s linear;
    transition-duration:0.1s;
-webkit-transition-duration:0.1s;
-ms-transition-duration:0.1s;
-moz-transition-duration:0.1s;
}

.projectTileSmall{
    display: grid;
    grid-template-columns: 95% 5%;
    align-items: center;
    background-color: rgba(16, 12, 66, 1);
    text-align: left;
    color : #fff;
    min-height: 55px;
    border-radius: 2px;
    padding: 10px;
    margin : 0px 10px;
    transition: all 0.8s;
    transition-duration:0.8s;
-webkit-transition-duration:0.8s;
-ms-transition-duration:0.8s;
-moz-transition-duration:0.8s;
    min-width: 90vw;   
    float: inline-start;
    justify-self: center;
}


.mobileTileActivated{
    max-width: 100%;
    min-width: 100%;
}



@media screen and (min-width:1023px) {
    .displaySmall{
        display: none;
    }
    .projectsMainDivSmall{
        display: none;
    }
}